<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tzl.com.understandcomponent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DeepLinkActivity"
            android:process=":remote">
            <intent-filter>
                <!--必有项-->
                <action android:name="android.intent.action.VIEW"/>
                <!--必有项：表示该页面可以被隐式调用-->
                <category android:name="android.intent.category.DEFAULT"/>
                <!--如果希望该应用可以通过浏览器的连接启动，则添加该项-->
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--协议部分:协议需要与-->
                <data android:scheme="app"
                    android:host="tzl.com.understandcomponent"/>
            </intent-filter>

        </activity>
    </application>

</manifest>